
.profile-photo{
    height: 50px ;
    width: 50px ;
    border-radius: 50%;

}



#change-profile{
    display: flex;
    flex-direction: column;
    margin-left:50px;
    margin-top:unset;
}

#left-div{
    width: 25% ;
    height:100vh;
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
    font-size:20px;
    align-items: center;
}
#main-div{
    border: 1px solid;
    margin:auto;
    display: flex;
    background-color: white;
}

/* #right-div{
    width:75%;
    margin:auto;
} */


#edit-profile{
    width:80%;
    display: flex;
    /* margin:0 20vmax; */
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.edit-input-div{
    display: flex;
    align-items: center;
}
.change-password{
    width:80% !important;
}

#profile{
    display: flex;
    align-items: center;
    width:100%;
}
#editdetails{
    width:30vmax;
    margin:auto;
}
#changepassprof{
    display: flex;
    margin:20px 0;
}

#resetpasswordbtn{
    margin-top:10px;
    text-align:center;
}

